.btn {
  background-image: none;
  border: .625rem solid transparent;

  border-bottom-width: 4px;
  border-left-width: .0625rem;

  border-radius: .285714286rem;

  border-right-width: .0625rem;
  border-top-width: 0;

  cursor: pointer;
  display: inline-block;

  font-size: .75rem;
  font-weight: bold;
  line-height: 1.42857143;

  margin-bottom: 0;

  outline: 0;

  padding-bottom: .5625rem;
  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: .5625rem;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  vertical-align: middle;
  white-space: nowrap;

  &.btn-default {
    background-color: color($color-default-lighter whiteness(100%));
    border-color: $color-default-light;
    color: color($color-default-darken blackness(85%));
  }

  &.btn-disabled,
  &[disabled] {
    background-color: transparent;
    border-width: inherit;
    color: $color-default-darken;
    cursor: not-allowed;

    &:hover {
      border-bottom-width: 0;
      margin-top: 0;
    }
  }

  @each $color in primary, danger, warning, info {
    &.btn-$(color) {
      background-color: $color-$(color);
      border-color: $color-$(color)-dark;
      color: $color-neutral;
    }
  }

  &:hover {
    border-bottom-width: 3px;
    margin-top: 1px;
  }

  &:active {
    border-bottom-width: 2px;
    margin-top: 2px;
  }
}
