html {
  font-size: $default-font-size;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $color-text;
  font-family: $default-font-family;
  font-size: $default-font-size;
  line-height: $default-line-height;
}
